<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<h1>{{ note['title'] }}</h1>
<h5>Created: {{ note['created'] }}</h5>
<p>{{ note['note'] }}</p>

<form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="edited_title" placeholder="Ny titel">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="edited_note" placeholder="Ny note"
                      class="form-control"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</body>
</html>